# .gitignore

# build artifacts
target
build
deploy
/build.properties
/SharedLibs/adflib*
/ExternalLibrariesWebApp/lib/*
/ExternalLibrariesWebApp/*.library
.ivy2

# IntelliJ IDEA project files
*.ipr
*.iws
/autotests/.idea
/.idea/ant.xml
/.idea/compiler.xml
/.idea/copyright
/.idea/misc.xml
/.idea/scopes
/.idea/uiDesigner.xml
/.idea/workspace.xml
/.idea/inspectionProfiles
*/*/.idea/ant.xml
*/*/.idea/compiler.xml
*/*/.idea/copyright
*/*/.idea/misc.xml
*/*/.idea/scopes
*/*/.idea/uiDesigner.xml
*/*/.idea/workspace.xml

# Надеюсь, это временно
*.iml
/thirdparty/*/.idea

# other
.git
.sonar
*.library

# Standard svn:ignore of JDeveloper project
# please don't add anything here.
*.backup
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
#*#
.#*
.*.swp
.DS_Store
.*.cs
.#*
.ade_path
.data
.depprod
.depprod_nt
.do_pool
.fullsource
.fullsource_nt
.svn
*.bak
*.cdi
*.class
*.client_contrib
*.contrib*
*.DS_Store
*.generated.java
*.ignore
*.keep
*.labellog.emd
*.metadata
*.mv.*
*.rename.*
*.rvi
*.saved.*
*.scc
*.sync.*
*.unbranch.*
*.unco.*
*.unmkelem.*
*~
*#GRABTRANS*
*#JDEVADF_*
classes
CVS
modelers.map
temp
.mdsExport
